<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h2>Sign up</h2>
    </div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field form-group mt-4">
          <%= f.label :organization %><br />
          <select name="organization_id" class="form-control mt-2">
            <% @organizations.each do |org|%>
                <option value=<%= org.id %>><%= org.name %> </option>
            <% end %>
          </select>
        </div>

        <div class="field form-group mt-4">
          <%= f.label :email %><br />
          <%= f.email_field :email, class:"form-control mt-2", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field form-group mt-4">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, class:"form-control mt-2", autocomplete: "new-password" %>
        </div>

        <div class="field form-group mt-4">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, class:"form-control mt-2", autocomplete: "new-password" %>
        </div>

        <div class="actions mt-4">
          <%= f.submit "Sign up", class:"btn btn-success mb-2" %>
        </div>
      <% end %>
    </div>
  </div>
  <br/>
  <%= render "devise/shared/links" %>

</div>