<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <div>
    <%= form.number_field :user_id, class:"form-control", value: current_user.id, placeholder: "User's id", type: :hidden %>
  </div>
  <div>
    <%= form.text_field :commenter, class:"form-control", value: current_user.name, placeholder: "Commenter's name", type: :hidden %>
  </div>

  <div>
    <%= form.text_area :body, class:"form-control", placeholder: "Write your comment..... ", "rows" => 5 %>
  </div><br/>
  
  <div class="input-group mb-3">
    <%= form.label :status, class:"input-group-text" %>
    <%= form.select :status, Visible::VALID_STATUSES, selected: 'public' %>
  </div><br/>

  <div>
    <%= form.submit class:"btn btn-outline-success" %>
  </div>
<% end %>